# Matrix Client
MATRIX_HOST=http://localhost:8008
MATRIX_ADMIN_TOKEN=secret

# PostgreSQL
POSTGRES_USER=synapse_user
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=synapse
# https://www.postgresql.org/docs/current/app-initdb.html
POSTGRES_INITDB_ARGS='--no-locale --encoding=UTF8'

# Synapse
SYNAPSE_SERVER_NAME=matrix.localhost
SYNAPSE_REPORT_STATS=yes
SYNAPSE_ENABLE_REGISTRATION=yes
SYNAPSE_NO_TLS=true
SYNAPSE_USER_DIR_SEARCH_ALL_USERS=true
